package pages

import "github.com/anucha-tk/go_todo/internal/templates/shared"

templ HomePage() {
	@shared.Page("Home")
	<section id="home" class="flex flex-col items-center gap-8">
		<img src="/dist/images/todo.svg" alt="todo" class="h-40 mt-10"/>
		<h1 class="text-4xl font-bold text-blue-700">TODO APP</h1>
	</section>
}
